<p>map works!</p>
<input type="text" id="input-message">
<button (click)="sendMessage()">Send message</button>
<br />
<button (click)="refresh()">refresh</button>
<br />
<br />
<p *ngFor="let message of receivedMessage">{{message}}</p>